.about-box-img {
    text-align: center;
}

.about-img {
    width: auto;
    height: 30em;
}

.about-text p {
    font-size: 1.5em;
}

.about-text h1 {
    font-size: 4em;
}

.about-text h2 {
    color: #DAA520;
}

