* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Bebas Neue', cursive;
    color: #DAA520;
    color: #151617;
}

body { 
    min-height: 100vh;
    min-width: 100%;
}

h1 h2 h3 {
    font-family: 'Bebas Neue', cursive;
}

p {
    font-family: 'Barlow Condensed', sans-serif;
}

.title {
    font-size: 5em;
    text-shadow: #606161 1.5px 1.5px 1px;
}

