.title-skills {
    font-size: 5em;
}

.skillsImg {
    text-align: center;
    margin-bottom: 1em;
}

.skillsImg img {
    width: auto;
    height: 10em;
}

.text-icon-skill {
    font-size: 3em;

}

.invisibleText {
    visibility: hidden;
}




