.contact-section {
    background-color: #ededed;
}

.form-label {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2em;
}

.form-label::selection {
    border: solid 1px #b1b1b1;
    color: #DAA520;
}

.contact-message {
    text-align: center;
}

.contact-message p {
    font-size: 2.5em;
}

.contact-message p span {
    color: #DAA520;
}

#button {
    width: 30%;
    background-color: #151617 !important;
    color: #b1b1b1;
    position: relative;
    left: 70%;
    box-shadow: 0px 0px 10px 5px;
}

#button:hover {
    border: solid 1px #b1b1b1;
    color: #DAA520;
}

.icons-contact img {
    width: auto;
    height: 3em;
    margin: 1em 1em 1em 1em;
}



